body {
    font-family: sans-serif;
    background-color: #eeeeee;
    color: #444;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    margin-top: -1em;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.2;
}

body.nl *[lang=en] {
    display: none;
}

body.en *[lang=nl] {
    display: none;
}

.wrapper {
    margin: 0 auto;
    padding: 1em;
    text-align: justify;
    max-width: 650px;
}

nav {
    background-color: #56B781;
    color: #eee;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
}

a {
    color: inherit;
}

nav li {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1em 1.5em;
    cursor: pointer;
    border-radius: 2px;
}

nav li a {
    text-decoration: none;
}

nav li:hover {
    color: #fff;
}

.button {
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
    padding: 0.5em 1em;
}

.button:hover {
    position: relative;
    top: -2px;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button:active {
    position: relative;
    top: 0px;
    box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

nav ul {
    list-style: none;
}

footer {
    background-color: #2b2f39;
    color: #eee;
    max-width: 100vw;
    padding: 2em;
    text-align: center;
}

.icon {
    font-size: 48px;
}

.socialblock {
    display: inline-block;
    padding: 10px;
}

@media screen and (max-width: 710px) {
    .hidemobile {
        display: none;
    }
    nav ul {
        padding-left: 0.5em;
    }

    nav li {
        margin: 1em 0.5em;
    }
}
